OVERRIDE_HOSTNAME=mail.fraerapp.ru
POSTMASTER_ADDRESS=postmaster@fraerapp.ru
ENABLE_CLAMAV=0
ENABLE_FAIL2BAN=1
ENABLE_POSTGREY=0
ENABLE_QUOTAS=1
SPOOF_PROTECTION=1
PERMIT_DOCKER=none
POSTFIX_MESSAGE_SIZE_LIMIT=10485760
POSTFIX_INET_PROTOCOLS=ipv4
